# various directories
target/
.idea/
project/target
project/project/target/
stuff
releases
src/test/scala/experiments/

# hidden files
*.~

# compiled Scala files
*.jar
*.class
*.zip
*.js

# compiled Millfork files
*.prg
*.asm
*.lbl
*.xex
*.nes
*.a2
*.dsk


