# various directories
target/
.idea/
project/target
project/project/target/
stuff
releases
src/test/scala/experiments/
src/test/java/experiments/
# doesn't work yet
examples/lunix/
# older copies
include-*/

# hidden files
*.~

#tools
*.bat
issue*.mfk

# compiled Scala files
*.jar
*.class
*.zip
*.exe

# compiled Millfork files
*.prg
*.crt
*.seq
*.asm
*.lbl
*.nl
*.fns
*.sym
*.deb
*.xex
*.nes
*.sfc
*.bin
*.a78
*.a2
*.dsk
*.inf
*.tap
*.d88
*.com
*.gb
*.rom
*.ssd
*.o
*.cmd
HELLO
HELLOCPC
FIZZBUZZ
__hw_bbcmicro
__hw_cpc464
tests-cpc-*
BBC-*

#heap dumps
java_pid*
